<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BaseMap</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

</head>
<body>

    {% block content %}

    <div id = "map">
        <script>

            var map = L.map('map').setView([63.418529, 10.40284], 13)

        </script>
    </div>

    {% endblock %}
</body>
</html>