{% load static %}
<!DOCTYPE html>
<html lang="en">

{% load leaflet_tags %}

<head>
    <meta charset="UTF-8">
    <title>MyStudyGIS</title>

    {% leaflet_js %}
    {% leaflet_css %}

    <style>
        #header {height: 5vh; width: 99vw; background-color: #41B439; color: white}
        #map {height: 94vh; width: 99vw}
    </style>

</head>
<body>
    <div id="header">
        <h1 style="font-family: monospace; padding-left: 2vw;">MyStudyGIS</h1>
        Søk og finn
        I nærheten
        Veibeskrivelse
    </div>

    <div id="map">
        <script style="height: 94vh; width: 99vw;">
            function onMapClick() {
                console.log('hallo')
            }

            function map_init_basic (map, options) {
                map.setView([63.418529, 10.40284], 13)
                /*L.marker([63.418529, 10.40284]).addTo(map);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'}).addTo(map);*/
                map.addEventListener('click',onMapClick())
            }
        </script>
        {% leaflet_map "yourmap" callback="window.map_init_basic" %}

    </div>
</body>
</html>